target/
ci/out/
res/

flatpak/generado/
_flatpak-state/
_flatpak-build/
_flatpak-repo/
*.flatpak
weft-data/

# lo que crean en la raiz del repositorio el pipeline (.github/workflows/ci.yml) y ci/build-qemu.sh
_qemu_build/
gfxstream/
rutabaga_gfx/
qemu/
*.log
paquete/
qemu-dl/
qemu-propio/
cf/
arm/
sal/
sin-adb/
art/
todo/
gfx/
/*.tar.gz
/*.apk
/notas.md
/notas-corto.md
